/*colors*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}
:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --brand-primary: #0768ac;

  --brand-secondary-dark: #03c180;
  --bg_default-dark: #1a1a1a;
  --bg_body-dark: #282828;
  --lines-color-dark: #000000;
  --body-text-dark: #ededed;
  --heart-color-dark: #dc143c;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.header-title {
  color: var(--brand-primary);
  /* justify-content: start; */
}

.btns > button {
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-pg {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.header-pg .welcome {
  color: var(--brand-secondary);
  font-weight: bold;
}
.subContainer {
  background-color: var(--bg_body);
  height: 100%;
}
.search-content {
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg_default);
  border-radius: 5px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg_default);
  /* box-shadow: 00 0 10; */
}
.filter {
  text-align: center;
  padding: 15px;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.sort-one select {
  border-left: 1px solid var(--bg_default);
  margin-right: 15px;
  border: none;
  padding-right: 50px;
}

.sort-two select {
  border: none;
  padding-right: 50px;
}
.sort-one,
.sort-two {
  border-left: 1px solid var(--lines-color);
  padding-left: 10px;
}
.sort-one h5,
.sort-two h5 {
  margin: 0;
  padding: 0;
}

.topics {
  margin: 50px;
  font-weight: bold;
}

.main-header {
  background-color: var(--bg_default);
  display: flex;
  vertical-align: top;
  width: 100%;
  z-index: 9;
}

.triangle {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
}
.triangleReverse {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
}

.triangleReverse::before {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--brand-secondary);
  color: var(--brand-secondary);
  --p: polygon(0 0, 100% 0, 100% 100%);
  -webkit-clip-path: var(--p);
  clip-path: var(--p);
  content: "";
}
.triangle::before {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--brand-primary);
  color: var(--brand-primary);
  --p: polygon(100% 0, 0 0, 0 100%);
  -webkit-clip-path: var(--p);
  clip-path: var(--p);
  content: "";
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 20px; */
  gap: 30;
}
.image {
  display: flex;
}
img {
  width: 100%;

  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  /* height: 50%; */
}

.card-container {
  width: 230px;
  margin-left: 30px;
  background-color: var(--bg_default);
  /* border: 1px solid #dc143c; */
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-content {
  font-size: small;
  padding: 10px;
}
.topic {
  font-weight: bold;
}
.author-evaluate {
  padding: 10px;
  font-size: x-small;
  color: #888;
}

.author-evaluate ion-icon {
  color: rgb(243, 166, 11);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ion-icon {
  color: var(--heart-color);
}
/*dark mode*/
.dark-mode .subContainer,
.dark-mode .header-pg,
.dark-mode footer {
  background-color: var(--body-text);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .search-content {
  color: #fff;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .card-container {
  color: var(--body-text-dark);
  background-color: var(--bg_default-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .triangleRevers {
  border-color: var(--brand-secondary-dark);
}
.dark-mode button {
  background-color: var(--lines-color-dark);
  color: var(--body-text-dark);
  border: 1px solid var(--body-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .container,
.dark-mode .header-pg,
.dark-mode select {
  background-color: var(--lines-color-dark);
  color: var(--body-text-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Dark-Mode heart cards  */
.dark-mode #favoritesContainer {
  background-color: var(--lines-color-dark);
  color: var(--body-text-dark);
}

.dark-mode .small-cards .img-heart {
  color: var(--body-text-dark);
  background-color: var(--bg_default-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--bg_body-dark);
  border-radius: 0;
}

@media (max-width: 390px) {
  .btns button {
    padding: 8px;
    font-size: 0;
  }
  .btns button ion-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  .sort {
    flex-direction: row;
    text-align: left;
  }
  #sort-select {
    padding: 10px;
    display: flex;
    /* justify-content: flex-start; */
  }
}
.hidden {
  display: none;
}

/* Favorites Container */
#favoritesContainer {
  flex-wrap: wrap;
  align-items: flex-start;
  bottom: 0;
  position: fixed;
  height: 150px;
  background-color: var(--bg_default);
  width: 100%;
  flex-direction: row;
}
.hidden {
  display: none;
}

/* Small Cards */
.small-cards {
  width: 120px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  float: left;
  margin-left: 30px;
  /* background-color: #0768ac; */
  flex-direction: column;
}
.topic-card {
  padding: 3px;
  margin-top: 0;
  margin-left: 30px;
}
.img-heart {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.card-info {
  width: 100%;
}

.card-info h3,
.card-info p {
  margin: 3px;
  font-size: 12px;
  padding: 2px;
  /* padding: 5px; */
}
.card-info .author-evaluate {
  padding: 0;
}

/* detail page css */
.middleContent {
  display: flex;
  flex-direction: row;
  background-color: var(--bg_default-dark);
  justify-content: center;
  height: 240px;
}
.detail-content {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap}

.category {
  flex-direction: column;
  height: auto;
  color: #ededed;
}

.category li.category-type {
  color: var(--brand-secondary);
  font-size: 16px;
}

.category li.category-topic {
  font-weight: bold;
  font-size: 16px;
}

.category ul,
ul.detail-description {
  list-style: none;
}

.rating-evaluate ion-icon {
  color: rgb(243, 166, 11);
}

.detail-description {
  max-width: 500px;
  overflow-wrap: break-word;
  font-size: 14px;
  color: var(--bg_default);
  flex-direction: column;
}
.cardDetailAbove{
  border: 2px solid var(--bg_default);
  width: 220px;
  z-index: 25;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.flex-card {
  
  /* border: 1px solid rgb(123, 19, 19); */
 
  background-color: var(--bg_default);
}
.semi-card {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  height: auto;
  flex-grow: 1;
  padding:5px;
  border: var(--lines-color) 1px solid;
  margin: 10px ;
  background-color: var(--bg_default);
}

.semi-card p {
  font-size: 10px;
  font-weight:500;
  /* justify-content: flex-start; */
}
.semi-card .unlimited {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.semi-card .btn-add {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  display: flex;
  color: white;
  border:none;
  z-index: 5;
  background-color: var(--brand-secondary);
}
.img-card {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0;
}
.teacher-name{
  text-decoration: underline;
  font-size: 12px;
  color: var(--brand-primary);
  font-weight: bold;
}

/* subTopic */
.sub-table {
  border: 1px solid var(--lines-color);
  display: flex;
  justify-content: center;
  z-index: 7;

}

.table-container {
  border-collapse: collapse;
  width: 400px;
  border: 1px solid var(--lines-color);
  /* margin: 10px; */
  background-color: var(--bg_default);
}

.table-container tr {
  border-bottom: 1px solid #ccc;
  
}

.table-container td {
  padding: 8px;
  /* margin: 10px; */
  text-align: left;
  font-size: 12px;
}

.icon {
  color: var(--brand-secondary-dark);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.SubTopics{
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}
.sub-table {
  margin: 30px;
}
.secondContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: var(--bg_body);
}
.footer-detail{
  background-color: var(--bg_body);
}