/*colors*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}
:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --brand-primary: #0768AC;

--brand-secondary-dark: #03C180;
--bg_default-dark: #1A1A1A;
--bg_body-dark: #282828;
--lines-color-dark: #000000;
--body-text-dark :#EDEDED;
--heart-color-dark: #DC143C;
}

/*Dark Mode*/
/* :root{
    --brand-primary: #0768AC;
--brand-secondary: #03C180;
--bg_default: #1A1A1A;
--bg_body: #282828;
--lines-color: #000000;
--body-text: #EDEDED;
--heart-color: #DC143C;} */
/* .container{
    display:flex;
} */
.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.header-title {
  color: var(--brand-primary);
  /* justify-content: start; */
}

.btns > button {
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header-pg {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.header-pg .welcome {
  color: var(--brand-secondary);
  font-weight: bold;
}
.subContainer {
  background-color: var(--bg_body);
  height: 100%;
}
.search-content {
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg_default);
  border-radius: 5px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg_default);
  /* box-shadow: 00 0 10; */
}
.filter   {

  text-align:center;
  padding: 15px;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.sort-one select {
  border-left: 1px solid var(--bg_default);
  margin-right: 15px;
  border: none;
  padding-right: 50px;
}

.sort-two select {
  border: none;
  padding-right: 50px;
}
.sort-one,
.sort-two {
  border-left: 1px solid var(--lines-color);
  padding-left: 10px;
}
.sort-one h5,
.sort-two h5 {
  margin: 0;
  padding: 0;
}

.topics {
  margin: 50px;
  font-weight: bold;
}

.main-header {
  background-color: var(--bg_default);
  display: flex;
  vertical-align: top;
  width: 100%;
  z-index: 9;
}

.triangle {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
}
.triangleReverse {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
}

.triangleReverse::before {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--brand-secondary);
  color: var(--brand-secondary);
  --p: polygon(0 0, 100% 0, 100% 100%);
  -webkit-clip-path: var(--p);
  clip-path: var(--p);
  content: "";
}
.triangle::before {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--brand-primary);
  color: var(--brand-primary);
  --p: polygon(100% 0, 0 0, 0 100%);
  -webkit-clip-path: var(--p);
  clip-path: var(--p);
  content: "";
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
/* margin: 20px; */
gap: 30;
}
.image{
  display: flex;
  
}
img {
  width: 100%;

  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  /* height: 50%; */
}

.card-container {
  width: 230px;
  margin-left: 30px;
  background-color: var(--bg_default);
  /* border: 1px solid #dc143c; */
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-content{
  font-size: small;
  padding: 10px;
}
.topic {
font-weight: bold;}
.author-evaluate{
  padding: 10px;
  font-size: x-small; 
  color: #888;}

.author-evaluate ion-icon {
  color: rgb(243, 166, 11); 
}
 

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ion-icon{
color: var(--heart-color);
}
/*dark mode*/
.dark-mode .subContainer,
.dark-mode .header-pg,
.dark-mode footer {
  background-color: var(--body-text);
    color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .search-content{
  color: #fff;
  background-color:black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .card-container{
  color: var(--body-text-dark);
  background-color: var(--bg_default-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .triangleRevers{
  border-color: var(--brand-secondary-dark);

}
.dark-mode button{
  background-color: var(--lines-color-dark);
  color: var(--body-text-dark);
  border:1px solid var(--body-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode .container, .dark-mode .header-pg,.dark-mode select{
  background-color: var(--lines-color-dark);
  color: var(--body-text-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}